@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background: #000;
  color: #fff;
  font-family: "VT323", monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  /*this is to get rid of the bullet*/
}

/* Header/Navbar */

.main-header {
  position: fixed;
  /*this is done to keep the navbar items fixed while scrolling up or down*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

/* LOGO */
.logo {
  width: 170px;
  height: 100%;
}

.logo img {
  /* width: 100%; */
  /* display: block; */
  height: 100%;
}

/* Desktop Menu  */
.desktop-main-menu {
  margin-right: 60px;
  /* this property will give some space for the right three line menu  */
  font-size: 21px;
}

.desktop-main-menu ul {
  display: flex;
  margin-bottom: 0rem;
  /*value flex is used so that the li's inside of ul are put inside a row*/
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 30px;
  /* this property is used to add spacing in between the list items  */
  padding-bottom: 2px;
  /*Inorder to add lining animation beneath every li */
}
#polarSatellite a {
  padding-bottom: 1.2px;
  border-bottom: 1px solid white;
}
#gslv a {
  padding-bottom: 1.2px;
  border-bottom: 1px solid white;
}
#LMV3 a {
  padding-bottom: 1.2px;
  border-bottom: 1px solid white;
}
#communication_satellite a {
  padding-bottom: 1.2px;
  border-bottom: 1px solid white;
}
#foreign_satellite a {
  padding-bottom: 1.2px;
  border-bottom: 1px solid white;
}
/*Menu item bottom border*/

.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  /*this is getting absolute within the li which is positioned relative */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  /*transform-origin: right center; */
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  /* transform-origin: left center; */
  transition-duration: 0.5s;
}

/* we are basically targeting all the section tags so that each one of them have the same styling  */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* object-fit: cover; */
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 50px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.section-inner a {
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

/* Background images */
.section-a {
  background-image: url("../images/nisar.jpg");
  font-size: 20px;
}

.section-b {
  background-image: url(../images/chandrayan1.webp);
  font-size: 20px;
}

.section-c {
  background-image: url("../images/20.webp");
  font-size: 20px;
}

.section-d {
  background-image: url("../images/43.webp");
  font-size: 20px;
}

.section-e {
  background-image: url("../images/3517473.webp");
  font-size: 20px;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 1px solid white;
  text-transform: uppercase;
  overflow: hidden;
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
}

.scroll-arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  right: 0;
  animation: fadeBounce 3s infinite;
}

.btn::before {
  position: absolute;
  content: "Rewatch";
  left: 0;
  bottom: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
}

.btn span {
  position: relative;
}

.btn:hover span {
  color: black;
}

/* menu content */
.menu-content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 12;
}

.menu-content.active {
  display: block;
}

#menu-navigation {
  position: absolute;
  top: 90px;
  right: 50px;
  width: 150px;
  height: 100%;
  padding-top: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  margin: 0;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
/* chnage-virendrakumar */
/* .nav-item {
  margin: 15px;
} */

.satellite-option {
  margin: 2px;
}

.nav-item a {
  display: block;
  font-size: 15pt;
  text-decoration: none;
  padding: 2px 0 2px 8px;
  /* change by virendra kumar --center to start */
  text-align: start;
  line-height: 2.5;
}
.nav-link ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.nav-item a:hover {
  color: #dedddd;
}
#secondary {
  display: none;
}
.satellite-option {
  display: none;
}
.desktop-main-menu ul ul li {
  margin-right: 0;
}
.satellite-option a {
  width: 100%;
  font-size: 14px;
  text-align: left;
}
/* menu button*/
#menu {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 50px;
  width: 38px;
  height: 20px;
  transform: translateY(-60%);
  z-index: 55;
  padding: 0 8px;
  border: 0;
  background: 0 0;
  transition: opacity 0.5s ease-in;
}
#bar {
  width: 100%;
}
.nav-link .secondary {
  text-align: left;
}

.bar {
  background-color: #fff;
  width: 23px;
  height: 2px;
  transition: 0.4s;
  margin: 2px 0;
  cursor: pointer;
}

.change {
  cursor: pointer;
}

.change #bar1 {
  transform: translate(3px, 6px) rotate(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translate(3px, -2px) rotate(45deg);
}

/* footer */
footer {
  position: relative;
  padding: 55px 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer ul {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 2.5;
}

footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .logo {
  width: 340px;
  height: 160px;
}
hr {
  width: 90%;
  border-radius: 10%;
  margin: 20px auto;
}
footer .copywrite {
  text-align: center;
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    transform: translateY (-20px);
    opacity: 1;
  }
}

/* Inner Pages */
.bg-pslv {
  background-image: url("../images/falcon-9.webp");
}

.bg-gslv {
  background-image: url("../images/falcon-heavy.webp");
}

.bg-lmv3 {
  background-image: url("../images/dragon.webp");
}

.bg-commu {
  background-image: url("../images/commu.jpg");
}

.bg-foreign {
  background-image: url("../images/foreignIsro.png");
}

.bg-hiring {
  background-image: url("../images/ch3_lander_Right.jpeg");
}

.bg-spacex {
  background-image: url("../images/spacex.jpg");
}
.bg-mission1 {
  background-image: url("../images/mission1-transformed.png");
  background-size: cover;
}
.bg-mission2 {
  background-image: url("../images/mission2-transformed.jpg");
}

.section-animate {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section-inner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.section-inner-center h3 {
  font-size: 80px;
  margin-bottom: 15px;
  animation: fadeInUp 0.5s ease-in-out;
  /* text-decoration: underline; */
}

.section-inner-center p {
  font-size: 25px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}
.section-inner-feedback {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
}
.section-inner-feedback form h3 {
  font-size: 50px;
  margin-bottom: 15px;
}
.section-inner-feedback form {
  padding: 3em;
  /* border: 1px solid red; */
}
.section-inner-feedback form td {
  padding: 7px;
}

.section-inner-feedback button {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  padding: 7px 20px;
  background: #ccc;
  border: 1px solid #000;
}

.section-inner-center gslv p {
  font-size: 25px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
  color: black;
}

/* Stats */

.stats {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
}

.stats div span {
  font-size: 160px;
}

.stats div h4 {
  font-size: 24px;
  font-weight: 300;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  animation: slide-in 1s ease-in-out, fade-out 1s 9s ease-in-out forwards;
}

.toast-content {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subscribe-button {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#subscribe-button:hover {
  background-color: #0056b3;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* Form Section */
.section-f {
  background-image: url(../images/pragyan-transformed.webp);
  background-color: #3c3c3c;
  padding: 30px 0;
  text-align: center;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
}

#newsletter-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#newsletter-form p {
  font-size: 18px;
  margin-bottom: 20px;
}

#newsletter-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1f1f1f;
  border-radius: 5px;
}

#newsletter-form button {
  background-color: #2b2b2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#newsletter-form button:hover {
  background-color: #757575;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
#secondary a {
  display: flex;
}
.display-satellites {
  display: block;
}
.rotate-Arrow {
  transform: rotate(180deg);
}
/* .nav-link ul {
  list-style-type:circle !important;
} */
@media screen and (max-width: 750px) {
  #secondary {
    display: block;
  }
  .desktop-main-menu .nav-items {
    display: none;
  }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2.5rem;
  background-color: #ff8504;
  color: #fff;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: none;
}
#first-hover-button {
  background-color: #000000ab;
}
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: transparent;
  border: 2px solid #ff8504;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}
.pointer-cursor {
  cursor: pointer;
}
