.btn1{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn1:hover:not([disabled]){
    background: #222;
    color: #fff;

}
.btn1:disabled{
    cursor:no-drop;
}
.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}  
