/* html{
    
} */
html, body {
    /* max-width: 100%; */
    overflow-x: hidden;
    background-color: black;
    margin-top: 0;
}

body{
    overflow-y: hidden;
}

h1{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.container{
    position: relative;
    width: 100%;
    /* padding: 1.25rem; */
    /* margin: 4rem auto;  */
    margin-top: 6rem;
}

.filter_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin-right: 0.8rem; */
}

.filter_buttons button{
    background-color: rgb(25, 24, 24);
    color: rgba(250, 235, 215, 0.473);
}

button{
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background: #fff;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 0 0.6rem rgb(0, 0, 0,0.1) ;
}

button.active{
    background-color: #3b3b3b;
    color: #fff;
}

.filter_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.25rem;
    margin: 1.5rem;
    /* margin-right: rem; */
}

.card{
    background-color: rgb(25, 24, 24);
    flex-grow: 1;
    width: 300px;
    height: 300px;
    padding: 3px;
    cursor: pointer;
    box-shadow: 0 0 0.6rem rgb(0, 0, 0,0.1) ;
    margin-bottom: 1.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

.card.hide{
    display: none;
}

.card img{
    width: 100%;
    height: 245px;
    object-fit: fill;
    border-radius: .5rem .5rem 0 0;
}

.card_body{
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}

.card_body p{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}